{
  "openapi": "3.0.3",
  "info": {
    "title": "Engine by MoneyLion API",
    "version": "1.106.0",
    "termsOfService": "https://engine.tech/about/legal#terms",
    "contact": {
      "name": "API Support",
      "url": "https://engine.tech/docs",
      "email": "help@engine.tech"
    }
  },
  "externalDocs": {
    "description": "Engine by MoneyLion API Reference",
    "url": "https://engine.tech/docs/api-reference/"
  },
  "servers": [
    {
      "url": "https://api.engine.tech"
    }
  ],
  "components": {
    "securitySchemes": {
      "publishableBearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "A bearer token that is assumed to be published in application code and downloaded to a user's device. As a result, it only has restricted access to the API.\n"
      },
      "confidentialBearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "A bearer token that is assumed to be managed like a password or any other confidential secret. As a result, it has access to sensitive API endpoints.\n"
      },
      "experimentalBearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "A bearer token that is used to access experimental endpoints that are not yet available for all partners. It may be treated the same as a `publishableBearerToken`.\n"
      }
    },
    "examples": {
      "DuplicateLead": {
        "summary": "Invalid lead reference",
        "value": [
          {
            "message": "Lead  duplicates an existing lead"
          }
        ]
      },
      "FeaturedFinancialInstitutions": {
        "summary": "Featured financial institutions",
        "value": [
          {
            "uuid": "32bd2f7c-79fd-5c54-bcb5-3a46454a465c",
            "name": "Alpha, Inc.",
            "logoUrl": "https://aff-tag.evenfinancial.com/images/alpha/Alpha_120x80.png"
          },
          {
            "uuid": "91d08be0-2a8c-4d28-b399-7e1b38e2522e",
            "name": "Beta, Inc.",
            "logoUrl": "https://aff-tag.evenfinancial.com/images/beta/Beta_120x80.png"
          }
        ]
      },
      "InvalidRateTableReference": {
        "summary": "Invalid lead reference",
        "value": [
          {
            "message": "Lead UUID is invalid"
          }
        ]
      },
      "InvalidSsn": {
        "summary": "Invalid SSN specified on lead",
        "value": [
          {
            "message": "Invalid fields present: 123 is not a valid ssn"
          }
        ]
      },
      "InvalidUuidPathParameter": {
        "summary": "Invalid UUID in path parameter",
        "value": [
          {
            "message": "Bad request.",
            "details": "Cannot parse parameter uuid as UUID: Invalid UUID string: 123"
          }
        ]
      },
      "LeadClientTagResponse": {
        "summary": "Lead client tags",
        "value": {
          "nextUrl": "https://api.engine.tech/supplyAnalytics/leadClientTags?paginationToken=gFqksQ5bGTVFoEbYs15RK9Y4JnMyjaA2qdH9kfkMQCWnKLL5BKxcyZUbXVQszy3fr8CjLvAYfnGpBfais9g",
          "shouldContinuePolling": true,
          "paginationToken": "gFqksQ5bGTVFoEbYs15RK9Y4JnMyjaA2qdH9kfkMQCWnKLL5BKxcyZUbXVQszy3fr8CjLvAYfnGpBfais9g",
          "data": [
            {
              "id": "e63aff4b-eea7-4f98-926c-15a15fc76ed3",
              "leadUuid": "a67b2027-29b2-43aa-a06f-2b60deaf3f2b",
              "key": "subId",
              "value": "425352",
              "createdAt": "2021-01-05T14:00:00Z",
              "paginationTimestamp": "2021-01-05T14:07:00Z"
            }
          ]
        }
      },
      "LeadPayoutResponse": {
        "summary": "Lead payout",
        "value": {
          "nextUrl": "https://api.engine.tech/supplyAnalytics/leadPayouts?paginationToken=gFqksQ5bGTVFoEbYs15RK9Y4JnMyjaA2qdH9kfkMQCWnKLL5BKxcyZUbXVQszy3fr8CjLvAYfnGpBfais9g",
          "shouldContinuePolling": false,
          "paginationToken": "gFqksQ5bGTVFoEbYs15RK9Y4JnMyjaA2qdH9kfkMQCWnKLL5BKxcyZUbXVQszy3fr8CjLvAYfnGpBfais9g",
          "data": [
            {
              "leadUuid": "dda9f837-2560-4b42-bc85-f6edd047a4d5",
              "bookedAt": "2021-01-01T00:00:00Z",
              "payoutInCents": 20000,
              "paginationTimestamp": "2021-01-01T00:07:00Z"
            },
            {
              "leadUuid": "a61d7cc3-3ad8-45b9-ba35-6572789203b3",
              "bookedAt": "2021-01-02T00:00:00Z",
              "payoutInCents": 10000,
              "paginationTimestamp": "2021-01-02T00:07:00Z"
            }
          ]
        }
      },
      "LoanApprovalProbabilityCreateData": {
        "summary": "Loan approval probability create data",
        "value": {
          "annualIncome": 75000,
          "creditRating": "excellent",
          "totalDebt": 10000,
          "countOfDerogatories": 0,
          "state": "NY",
          "loanPurpose": "debt_consolidation",
          "loanAmount": 10000
        }
      },
      "LoanApprovalProbabilityReport": {
        "summary": "Loan approval probability report",
        "value": {
          "annualIncome": 75000,
          "creditRating": "excellent",
          "totalDebt": 10000,
          "countOfDerogatories": 0,
          "state": "NY",
          "loanPurpose": "debt_consolidation",
          "loanAmount": 10000,
          "networkProbabilities": [
            {
              "probability": 79.67534,
              "aprLow": 12.76,
              "aprHigh": 19.85
            }
          ],
          "financialInsitutions": [
            {
              "uuid": "005b235e-9388-5e96-9d43-d1b6fd587652",
              "name": "Alpha, Inc.",
              "logoUrl": "https://aff-tag.evenfinancial.com/images/alpha/Alpha_120x80.png",
              "probabilities": [
                {
                  "probability": 49.945,
                  "aprLow": 15.25,
                  "aprHigh": 19.85
                }
              ]
            },
            {
              "uuid": "c5e7db20-81a4-4fe4-9100-fb8b3ae84f02",
              "name": "Beta Inc.",
              "logoUrl": "https://aff-tag.evenfinancial.com/images/beta/Beta_120x80.png",
              "probabilities": [
                {
                  "probability": 84.5421,
                  "aprLow": 12.76,
                  "aprHigh": 18.85
                }
              ]
            }
          ]
        }
      },
      "LoanLead": {
        "summary": "Loan lead",
        "value": {
          "uuid": "7c48037d-3dfa-5bff-9e0e-bcd3dda80f96",
          "companyUUID": "5c3b5da2-ce2e-5686-8df9-73c00c4cfd6b",
          "leadProviderName": "Platinum Personal Finance",
          "productTypes": [
            "loan"
          ],
          "personalInformation": {
            "firstName": "John",
            "lastName": "Doe",
            "email": "john@example.com",
            "city": "New York",
            "state": "NY",
            "primaryPhone": "2125556789",
            "address1": "175 5th Ave",
            "zipcode": "10010",
            "monthsAtAddress": 72,
            "activeMilitary": false,
            "militaryVeteran": false,
            "dateOfBirth": "1993-10-09",
            "ssn": "111-22-3333"
          },
          "personalReferenceInformation": {},
          "loanInformation": {
            "purpose": "debt_consolidation",
            "loanAmount": 10000
          },
          "mortgageInformation": {
            "propertyStatus": "own_with_mortgage"
          },
          "creditCardInformation": {},
          "savingsInformation": {},
          "creditInformation": {
            "providedCreditRating": "good"
          },
          "financialInformation": {
            "employmentStatus": "employed",
            "employmentPayFrequency": "biweekly",
            "annualIncome": 80000
          },
          "employmentInformation": {},
          "legalInformation": {
            "consentsToFcra": true,
            "consentsToTcpa": true,
            "consentsToSms": false,
            "tcpaLanguage": "I agree to be contacted by Engine by MoneyLion and its partners...",
            "fcraLanguage": "By checking this box/clicking 'agree' I hereby consent..."
          },
          "educationInformation": {
            "educationLevel": "bachelors"
          },
          "coApplicantInformation": {},
          "healthInformation": {},
          "lifeInsuranceInformation": {},
          "refinanceLoans": [],
          "identificationInformation": {},
          "vehicleInformation": {},
          "clientTags": {
            "transid": [
              "fk912234"
            ],
            "subid": [
              "ag67125"
            ]
          },
          "sessionInformation": {
            "ipAddress": "8.8.8.8"
          },
          "isTest": false,
          "sessionUuid": "c363ec58-c5f0-54ff-b8f7-0f5f630213d9",
          "status": "initialized",
          "createdAt": "05/01/2021 20:00:00.000",
          "updatedAt": "05/01/2021 20:00:00.000"
        }
      },
      "LoanLeadCreateData": {
        "summary": "Loan lead create data",
        "value": {
          "productTypes": [
            "loan"
          ],
          "personalInformation": {
            "firstName": "John",
            "lastName": "Doe",
            "email": "john@example.com",
            "city": "New York",
            "state": "NY",
            "primaryPhone": "2125556789",
            "address1": "175 5th Ave",
            "zipcode": "10010",
            "monthsAtAddress": 72,
            "activeMilitary": false,
            "militaryVeteran": false,
            "dateOfBirth": "1993-10-09",
            "ssn": "111-22-3333"
          },
          "personalReferenceInformation": {},
          "loanInformation": {
            "purpose": "debt_consolidation",
            "loanAmount": 10000
          },
          "mortgageInformation": {
            "propertyStatus": "own_with_mortgage"
          },
          "creditCardInformation": {},
          "savingsInformation": {},
          "creditInformation": {
            "providedCreditRating": "good"
          },
          "financialInformation": {
            "employmentStatus": "employed",
            "employmentPayFrequency": "biweekly",
            "annualIncome": 80000
          },
          "employmentInformation": {},
          "legalInformation": {
            "consentsToFcra": true,
            "consentsToTcpa": true,
            "consentsToSms": false,
            "fcraLanguage": "By checking this box/clicking 'agree' I hereby consent to the 'E-Sign Agreement', the 'Credit Authorization Agreement', the Terms of Service and Privacy Policy, and I am providing written consent under the Fair Credit Reporting Act (FCRA) for [Engine by MoneyLion and/or Insert Company Name], its partners and financial institutions to obtain consumer report information from my credit profile. I request that my information be provided to their partners, lenders, and financial services partners to provide me with financial recommendations, which may also include debt relief, credit repair, credit monitoring or other related services",
            "tcpaLanguage": "I agree to be contacted by [Engine by MoneyLion and/or Insert Company Name] its partners and their affiliated companies and financial institutions via email, postal mail service and/or at the telephone number(s) I have provided above to explore various financial products and services I inquired about, including contact through automatic dialing systems, artificial or pre-recorded voice messaging, or text message. Consent is not required as a condition to utilize the service, and you may choose to be contacted by an individual customer care representative(s) by calling XXXXX or emailing XXXX"
          },
          "educationInformation": {
            "educationLevel": "bachelors"
          },
          "coApplicantInformation": {},
          "healthInformation": {},
          "lifeInsuranceInformation": {},
          "refinanceLoans": [],
          "identificationInformation": {},
          "clientTags": {
            "transid": [
              "fk912234"
            ],
            "subid": [
              "ag67125"
            ]
          },
          "isTest": false,
          "sessionUuid": "c363ec58-c5f0-54ff-b8f7-0f5f630213d9"
        }
      },
      "LoanRateTable": {
        "summary": "Loan rate table with a pending response",
        "value": {
          "uuid": "b9b212a8-b284-5986-813e-a8d8e87c1863",
          "leadUuid": "144bd0ea-b9c6-52d5-a7ef-dccb223d060d",
          "loanAmount": 10000,
          "partnerPageUrl": "https://consumer.fiona.com/partner/channel/loan/application?results=b9b212a8-b284-5986-813e-a8d8e87c1863&step=results",
          "embedUrl": "https://embed.evenfinancial.com/ui/multi-product/index.html?partner=channel&access_token=c76e2145-d37d-5e39-9199-2c2d8f0830ab&company_uuid=7c552546-c8d5-5740-8514-f7d77f387236&step=results&results=b9b212a8-b284-5986-813e-a8d8e87c1863&available_products=loan&productType=loan",
          "loanOffers": [
            {
              "uuid": "e1c401fd-198c-53df-b5e7-f84f5dbd8c1a",
              "minAmount": null,
              "maxFeeRate": null,
              "maxFeeFixed": 526,
              "prepaymentFee": null,
              "payout": 10,
              "minMonthlyPayment": null,
              "originator": {
                "key": "alpha",
                "name": "Alpha, Inc.",
                "description": "Consequatur est dolorum fugit. Dicta dolorem autem perspiciatis et.",
                "images": [
                  {
                    "sizeKey": "120x40",
                    "url": "https://aff-tag.evenfinancial.com/images/alpha/Alpha_120x80.png"
                  }
                ],
                "disclaimer": "Et deserunt ut temporibus quia. Sed suscipit ad nostrum dolorem qui a.",
                "companyUuid": "1088017a-2ed9-5328-b03d-8351a6e58f7e",
                "financialInstitutionUuid": "32bd2f7c-79fd-5c54-bcb5-3a46454a465c"
              },
              "minApr": null,
              "feeRate": null,
              "productSubType": "personal_loan",
              "aprDescription": "Fixed APR",
              "minFeeRate": null,
              "maxApr": 29.99,
              "conversionProbability": 0.13022707252777743,
              "monthlyPayment": 296.06,
              "terms": null,
              "recommendationScore": 1330,
              "productSubTypeDisclaimer": null,
              "monthlyPaymentDescription": "Est. Monthly Payment",
              "maxMonthlyPayment": 296.06,
              "originatorId": "59e39e01-afae-5a54-8690-24eb4f6dd025",
              "maxAmount": 7500,
              "allowPrepayment": false,
              "termUnit": "month",
              "productType": "loan",
              "coApplicant": false,
              "preQualified": true,
              "displayTermUnit": null,
              "sponsored": false,
              "url": "https://offers.evenfinancial.com/ref/978bbfa4-a076-5538-b199-933b16374114",
              "meanApr": 29.99,
              "minFeeFixed": null,
              "aprType": "fixed",
              "termLength": 36,
              "meanTotalPayment": 10658.16,
              "preApproved": true,
              "termDescription": "Term of Loan",
              "minTotalPayment": null,
              "maxTotalPayment": 10658.16,
              "feeFixed": 525,
              "secured": false,
              "meanMonthlyPayment": 296.06
            },
            {
              "uuid": "11f3b40a-4be4-5ed4-b248-52df976d6209",
              "minAmount": null,
              "maxFeeRate": null,
              "maxFeeFixed": 0,
              "prepaymentFee": null,
              "payout": 10,
              "minMonthlyPayment": null,
              "originator": {
                "key": "beta",
                "name": "Beta Inc.",
                "description": "Voluptas quas aspernatur aut nihil rerum. Voluptatibus laboriosam amet porro veniam ut.",
                "images": [
                  {
                    "sizeKey": "120x40",
                    "url": "https://aff-tag.evenfinancial.com/images/beta/Beta_120x80.png"
                  }
                ],
                "disclaimer": "Est delectus et rem consequatur magni. Molestiae asperiores sit debitis et id corporis.",
                "companyUuid": "f9605e88-3992-59da-b1a4-77c71cf2dd12",
                "financialInstitutionUuid": "91d08be0-2a8c-4d28-b399-7e1b38e2522e"
              },
              "minApr": null,
              "feeRate": null,
              "productSubType": "personal_loan",
              "aprDescription": "Fixed APR",
              "minFeeRate": null,
              "maxApr": 64.79,
              "conversionProbability": 0.07311888039112091,
              "monthlyPayment": 414.59,
              "terms": null,
              "recommendationScore": 1000,
              "productSubTypeDisclaimer": null,
              "monthlyPaymentDescription": "Est. Monthly Payment",
              "maxMonthlyPayment": 414.59,
              "originatorId": "netcredit",
              "maxAmount": 7100,
              "allowPrepayment": false,
              "termUnit": "month",
              "productType": "loan",
              "coApplicant": false,
              "preQualified": true,
              "displayTermUnit": null,
              "sponsored": false,
              "url": "https://offers.evenfinancial.com/ref/689ff123-9a90-5997-8450-c57889b44bd9",
              "meanApr": 64.79,
              "minFeeFixed": null,
              "aprType": "fixed",
              "termLength": 48,
              "meanTotalPayment": 19900.32,
              "preApproved": true,
              "termDescription": "Term of Loan",
              "minTotalPayment": null,
              "maxTotalPayment": 19900.32,
              "feeFixed": 0,
              "secured": false,
              "meanMonthlyPayment": 414.59
            }
          ],
          "mortgageOffers": [],
          "savingsOffers": [],
          "specialOffers": [],
          "creditCardOffers": [],
          "pendingResponses": [],
          "pendingOriginators": []
        }
      },
      "MissingTimestamp": {
        "summary": "Timestamp missing or malformed",
        "value": [
          {
            "attribute": "timestamp",
            "type": "missing",
            "message": "timestamp must be specified"
          }
        ]
      },
      "PreviewCreditCardOffers": {
        "summary": "Preview credit card offers",
        "value": [
          {
            "uuid": "4ac18f1c-2e85-5e74-8df7-54ca2f47ca27",
            "productType": "credit_card",
            "productSubType": "credit_card",
            "partner": {
              "uuid": "005b235e-9388-5e96-9d43-d1b6fd587652",
              "name": "Alpha, Inc.",
              "description": "Consequatur est dolorum fugit. Dicta dolorem autem perspiciatis et.",
              "disclaimer": "Et deserunt ut temporibus quia. Sed suscipit ad nostrum dolorem qui a.",
              "supportsPersonalizedOffers": false,
              "supportsPreSelect": true,
              "shouldDisplayPreSelect": false,
              "imageUrl": "https://aff-tag.evenfinancial.com/images/alpha/Alpha_120x80.png",
              "subtextOverride": "Alpha"
            },
            "url": "https://offers.evenfinancial.com/partner/ref/00adef6c-9fea-5910-99de-5cfb52979243/4ac18f1c-2e85-5e74-8df7-54ca2f47ca27",
            "recommendationScore": 0.7,
            "details": {
              "cardName": "Alpha Credit Card",
              "cardImageUrl": "https://assets.evenfinancial.com/requested/889123/Alpha%20Credit%20Card%20Art.png",
              "cardPurposes": [
                "improve_credit",
                "new_to_credit"
              ],
              "ratesUrl": "https://www.example.com/cardmember_agreement",
              "maxPurchaseApr": 25.99,
              "minPurchaseApr": 25.99,
              "purchaseAprText": "APR varies based on creditworthiness",
              "purchaseAprDisclaimer": "APR may change",
              "maxPurchaseIntroApr": 0,
              "minPurchaseIntroApr": 0,
              "purchaseIntroAprTerm": 12,
              "purchaseIntroAprTermUnit": "month",
              "purchaseIntroAprText": "0% intro APR for 12 months",
              "maxCashAdvanceApr": 26.99,
              "minCashAdvanceApr": 26.99,
              "cashAdvanceAprText": "Cash advance APR is fixed",
              "maxBalanceTransferApr": 25.99,
              "minBalanceTransferApr": 25.99,
              "balanceTransferAprText": "Balance transfer APR is fixed",
              "maxBalanceTransferIntroApr": 0,
              "minBalanceTransferIntroApr": 0,
              "balanceTransferIntroAprTerm": 12,
              "balanceTransferIntroAprTermUnit": "month",
              "balanceTransferIntroAprText": "0% intro APR on balance transfers for 12 months",
              "balanceTransferFee": 5,
              "balanceTransferFeeDisclaimer": "Balance transfer fee applies",
              "maxAnnualFee": 39,
              "minAnnualFee": 39,
              "annualFeeDisclaimer": "Annual fee may vary",
              "annualIntroFee": 0,
              "annualIntroFeeTerm": 1,
              "introOfferAmount": 200,
              "introOfferText": "Earn $200 bonus after spending $500",
              "introOfferType": "cash_back",
              "details": [
                "No deposit required",
                "No penalty APR"
              ],
              "cardType": "visa",
              "aprType": "variable",
              "recommendedCreditRatings": [
                "limited",
                "poor",
                "fair",
                "good"
              ],
              "recommendedCreditRatingsDisclaimer": "Credit ratings are for guidance only",
              "preQualified": false,
              "preApproved": false,
              "preSelected": false,
              "rewardsDescription": "Earn unlimited 1.5% cash back on all purchases",
              "rewardsDisclaimer": "Rewards may change",
              "minDepositAmount": 200,
              "minDepositDisclaimer": "Minimum deposit required for secured card",
              "badges": [
                "No Annual Fee",
                "Cash Back Rewards"
              ]
            }
          }
        ]
      },
      "PendingLoanRateTable": {
        "summary": "Loan rate table with a pending response",
        "value": {
          "uuid": "b9b212a8-b284-5986-813e-a8d8e87c1863",
          "leadUuid": "144bd0ea-b9c6-52d5-a7ef-dccb223d060d",
          "loanAmount": 10000,
          "loanOffers": [
            {
              "uuid": "e1c401fd-198c-53df-b5e7-f84f5dbd8c1a",
              "minAmount": null,
              "maxFeeRate": null,
              "maxFeeFixed": 526,
              "prepaymentFee": null,
              "payout": 10,
              "minMonthlyPayment": null,
              "originator": {
                "key": "alpha",
                "name": "Alpha, Inc.",
                "description": "Consequatur est dolorum fugit. Dicta dolorem autem perspiciatis et.",
                "images": [
                  {
                    "sizeKey": "120x40",
                    "url": "https://aff-tag.evenfinancial.com/images/alpha/Alpha_120x80.png"
                  }
                ],
                "disclaimer": "Et deserunt ut temporibus quia. Sed suscipit ad nostrum dolorem qui a.",
                "companyUuid": "1088017a-2ed9-5328-b03d-8351a6e58f7e",
                "financialInstitutionUuid": "32bd2f7c-79fd-5c54-bcb5-3a46454a465c"
              },
              "minApr": null,
              "feeRate": null,
              "productSubType": "personal_loan",
              "aprDescription": "Fixed APR",
              "minFeeRate": null,
              "maxApr": 29.99,
              "conversionProbability": 0.13022707252777743,
              "monthlyPayment": 296.06,
              "terms": null,
              "recommendationScore": 1330,
              "productSubTypeDisclaimer": null,
              "monthlyPaymentDescription": "Est. Monthly Payment",
              "maxMonthlyPayment": 296.06,
              "originatorId": "59e39e01-afae-5a54-8690-24eb4f6dd025",
              "maxAmount": 7500,
              "allowPrepayment": false,
              "termUnit": "month",
              "productType": "loan",
              "coApplicant": false,
              "preQualified": true,
              "displayTermUnit": null,
              "sponsored": false,
              "url": "https://offers.evenfinancial.com/ref/978bbfa4-a076-5538-b199-933b16374114",
              "meanApr": 29.99,
              "minFeeFixed": null,
              "aprType": "fixed",
              "termLength": 36,
              "meanTotalPayment": 10658.16,
              "preApproved": true,
              "termDescription": "Term of Loan",
              "minTotalPayment": null,
              "maxTotalPayment": 10658.16,
              "feeFixed": 525,
              "secured": false,
              "meanMonthlyPayment": 296.06
            }
          ],
          "mortgageOffers": [],
          "savingsOffers": [],
          "specialOffers": [],
          "creditCardOffers": [],
          "pendingResponses": [
            {
              "partner": {
                "uuid": "91d08be0-2a8c-4d28-b399-7e1b38e2522e",
                "name": "Beta Inc.",
                "description": "Voluptas quas aspernatur aut nihil rerum. Voluptatibus laboriosam amet porro veniam ut.",
                "disclaimer": "Est delectus et rem consequatur magni. Molestiae asperiores sit debitis et id corporis.",
                "imageUrl": "https://aff-tag.evenfinancial.com/images/beta/Beta_120x80.png"
              },
              "productTypes": [
                "loan"
              ]
            }
          ],
          "pendingOriginators": [
            {
              "key": "beta",
              "name": "Beta Inc.",
              "description": "Voluptas quas aspernatur aut nihil rerum. Voluptatibus laboriosam amet porro veniam ut.",
              "images": [
                {
                  "sizeKey": "120x40",
                  "url": "https://aff-tag.evenfinancial.com/images/beta/Beta_120x80.png"
                }
              ],
              "disclaimer": "Est delectus et rem consequatur magni. Molestiae asperiores sit debitis et id corporis.",
              "companyUuid": "f9605e88-3992-59da-b1a4-77c71cf2dd12",
              "financialInstitutionUuid": "91d08be0-2a8c-4d28-b399-7e1b38e2522e"
            }
          ]
        }
      },
      "PrefillResponse": {
        "summary": "Prefill Response",
        "value": {
          "productTypes": [
            "loan"
          ],
          "prefillToken": "d9b212a8-b284-5986-813e-a8d8e87c1863",
          "expiresInSeconds": 180,
          "maxUses": 1,
          "partnerPageUrl": "https://www.moneylion.com/network/meratas/loans/search/loan-purpose?tag.partnerKey=meratas-pp-loans&prefillToken=e9c6b1a2-4f8d-4d2c-b9e6-91f2a6d8b0a4",
          "embedSnippet": "<script async src=\"https://www.moneylion.dev/network/fagner/offer-carousel/web-component/offer-carousel/index.js\" data-embed-type=\"auto-mount\" data-cnf-layout-variant=\"native-layout\" data-title=\"Offer Carousel\" data-prefill-token=\"e9c6b1a2-4f8d-4d2c-b9e6-91f2a6d8b0a4\" data-display-layout=\"carousel\"> </script>"
        }
      },
      "PreviewLoanOffers": {
        "summary": "Preview loan offers",
        "value": [
          {
            "uuid": "43292949-76eb-413e-9b0e-a332ae6e8ee3",
            "productType": "loan",
            "productSubType": "personal_loan",
            "originator": {
              "key": "alpha",
              "name": "Alpha, Inc.",
              "description": "Consequatur est dolorum fugit. Dicta dolorem autem perspiciatis et.",
              "images": [
                {
                  "sizeKey": "120x40",
                  "url": "https://aff-tag.evenfinancial.com/images/alpha/Alpha_120x80.png"
                }
              ],
              "disclaimer": "Et deserunt ut temporibus quia. Sed suscipit ad nostrum dolorem qui a.",
              "companyUuid": "1088017a-2ed9-5328-b03d-8351a6e58f7e",
              "financialInstitutionUuid": "32bd2f7c-79fd-5c54-bcb5-3a46454a465c"
            },
            "originatorId": null,
            "termLength": 36,
            "termUnit": "month",
            "maxAmount": 40000,
            "minAmount": 2000,
            "maxApr": 17.99,
            "minApr": 17.99,
            "meanApr": 17.99,
            "feeRate": null,
            "maxFeeRate": null,
            "minFeeRate": null,
            "feeFixed": null,
            "maxFeeFixed": null,
            "minFeeFixed": null,
            "allowPrepayment": true,
            "prepaymentFee": 0,
            "monthlyPayment": 361.48,
            "maxMonthlyPayment": 361.48,
            "minMonthlyPayment": 361.48,
            "meanMonthlyPayment": 361.48,
            "maxTotalPayment": 13014,
            "minTotalPayment": 13014,
            "meanTotalPayment": 13014,
            "terms": null,
            "url": "https://offers.evenfinancial.com/partner/ref/ba4b1f43-fe02-5b52-93f5-6644e5c721c0/43292949-76eb-413e-9b0e-a332ae6e8ee3",
            "preQualified": false,
            "preApproved": false,
            "secured": false,
            "sponsored": false,
            "recommendationScore": 5,
            "payout": null,
            "aprType": "fixed",
            "coApplicant": false,
            "aprDescription": null,
            "displayTermUnit": null,
            "productSubTypeDisclaimer": null,
            "monthlyPaymentDescription": null,
            "termDescription": null
          }
        ]
      },
      "PreviewSavingsOffers": {
        "summary": "Preview savings offers",
        "value": [
          {
            "uuid": "9284470f-e430-5473-aeeb-f61c91adabc9",
            "productType": "savings",
            "productSubType": "savings_account",
            "partner": {
              "uuid": "91d08be0-2a8c-4d28-b399-7e1b38e2522e",
              "name": "Beta Inc.",
              "description": "Voluptas quas aspernatur aut nihil rerum. Voluptatibus laboriosam amet porro veniam ut.",
              "disclaimer": "Est delectus et rem consequatur magni. Molestiae asperiores sit debitis et id corporis.",
              "supportsPersonalizedOffers": false,
              "supportsPreSelect": false,
              "shouldDisplayPreSelect": true,
              "imageUrl": "https://aff-tag.evenfinancial.com/images/beta/Beta_120x80.png"
            },
            "url": "https://offers.evenfinancial.com/ref/0803947c-08a5-59eb-ae58-8468c62bb5a8",
            "recommendationScore": 170,
            "disclaimer": "Accounts offered by Axos Bank, Member FDIC",
            "details": {
              "name": "Beta Savings",
              "description": "Pariatur et repellat quia aliquid. Sint qui aut harum qui aut.",
              "details": "Praesentium asperiores est quisquam ad qui est. Sint culpa harum id totam. Ex fugit magni quis tempora sit.",
              "rate": 0.4,
              "annualPercentYield": 0.4,
              "compoundingMethod": "continuous",
              "minimumDeposit": 0,
              "minimumDepositWithFees": 0,
              "monthlyFee": 0,
              "checkWriting": false,
              "effectiveAsOf": "2021-01-01T12:00:00Z"
            }
          }
        ]
      },
      "TimestampTooLate": {
        "summary": "Timestamp not early enough",
        "value": [
          {
            "attribute": "timestamp",
            "type": "malformed",
            "details": {
              "specified": "2021-02-01T17:00:00.000Z",
              "requirement": "must be at or before 2021-01-13T16:00:00Z"
            },
            "message": "timestamp must be at or before 2021-01-13T16:00:00Z, but is '2021-02-01T17:00:00Z'"
          }
        ]
      },
      "UniversityNamesMatchingJohns": {
        "summary": "University names matching \"johns\"",
        "value": [
          "Johns Hopkins University",
          "Johns Hopkins University - Carey Business School",
          "Johns Hopkins University - Paul Nifle School of Advanced International Studies",
          "Johns Hopkins University - Peabody Conservatory of Music",
          "Johns Hopkins University - School of Arts & Science",
          "Johns Hopkins University - School of Medicine",
          "Johns Hopkins University - School of Nursing",
          "Johns Hopkins University - School of Public Health",
          "Johns Hopkins University - SPSBE",
          "Saint Johns University",
          "Cornell University Johnson, MBA",
          "Johnson College",
          "Johnson County Community College",
          "Johnson University",
          "Johnson & Wales University",
          "Northern Vermont University - Johnson (FKA Johnson State College + Lyndon State College)",
          "Northern Vermont University - Lyndon (FKA Lyndon State College + Johnson State College)",
          "University of Pittsburgh - Johnstown"
        ]
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "attribute": {
            "type": "string",
            "description": "The attribute that this error applies to. Omitted if this error is not in the context of a resource, or cannot be isolated to a single attribute.\n"
          },
          "type": {
            "type": "string",
            "description": "A classification for this error, which can be used to render the appropriate custom error template, or take other programmatic actions.\n"
          },
          "details": {
            "description": "Variables associated with this error that can be injected into a custom error template, or used to parameterize any other programatic actions.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/ApiErrorDetails"
              }
            ]
          },
          "message": {
            "type": "string",
            "description": "A human-readable, English description of the error.\n"
          }
        }
      },
      "ApiErrorDetails": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "ApiApprovedEventData": {
        "type": "object",
        "title": "apiApproved",
        "properties": {
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the approved offer.\n"
          }
        }
      },
      "ApiRejectedEventData": {
        "type": "object",
        "title": "apiRejected",
        "properties": {
          "rejectReason": {
            "$ref": "#/components/schemas/RejectReason",
            "description": "A normalized reason why the lead was rejected, according to the financial institution.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the rejected offer.\n"
          }
        }
      },
      "AppliedEventData": {
        "type": "object",
        "title": "applied",
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int32",
            "description": "The dollar amount of the offer that was applied for.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the offer that was applied for.\n"
          }
        }
      },
      "ApprovedEventData": {
        "type": "object",
        "title": "approved",
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int32",
            "description": "The dollar amount of the approved offer.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the approved offer.\n"
          }
        }
      },
      "AprType": {
        "type": "string",
        "enum": [
          "variable",
          "regular",
          "fixed"
        ]
      },
      "BankAccountType": {
        "type": "string",
        "enum": [
          "checking",
          "savings",
          "other"
        ]
      },
      "BatchConsentVersion": {
        "type": "string",
        "enum": [
          "v1",
          "v2"
        ]
      },
      "CardBenefit": {
        "type": "string",
        "description": "Benefits or benefit categories related to a credit card",
        "enum": [
          "No Foreign Transaction Fees",
          "Purchase Protection",
          "Return Protection",
          "Price Protection",
          "Fraud Protection",
          "Extended Warranty",
          "Travel Accident Insurance",
          "Trip Interruption Insurance",
          "Car Rental Insurance",
          "Baggage Insurance",
          "Baggage Delay Insurance",
          "Hotel Burglary Insurance",
          "Travel & Emergency Assistance",
          "Roadside Assistance",
          "Concierge Service",
          "Lounge Access",
          "Identity Theft Assistance",
          "In-Flight Savings",
          "Free Checked Bag",
          "Priority Boarding",
          "No Blackout Dates",
          "Free Companion Ticket",
          "Discount Companion Ticket",
          "Global Entry or TSA PreCheck",
          "Private Jet Perks",
          "Lounge Access Discount",
          "24/7 Cardholder Support",
          "Authorized User",
          "Entertainment Access",
          "Airline Fee Credit",
          "Late Fee Pass",
          "Credit Score Reporting",
          "No Flight Change Fees",
          "24/7 Account Monitoring",
          "Amex Offers",
          "Visa Signature Offers",
          "MasterCard Offers",
          "Free Hotel Stay",
          "Extended Hotel Stay",
          "Dining Concierge",
          "2 Lounge Passes",
          "Hilton Honors Silver Membership",
          "Hilton Honors Gold Membership",
          "World of Hyatt Discoverist Status",
          "SPG Gold Membership",
          "Marriott Rewards Silver Status",
          "Hertz Presidents Circle Elite Status",
          "2 Free Checked Bags",
          "Auto Discounts",
          "InCircle Partnership",
          "ShopRunner",
          "WiFi Access",
          "ShopSafe",
          "BoA Preferred Rewards",
          "MasterCard Fuel Rewards Network",
          "Missed Event Ticket Protection",
          "Account Freezing",
          "Cell Phone Protection",
          "GPA Rewards",
          "In-Flight WiFi Credit",
          "Citi Private Pass",
          "Priceless Cities",
          "The Hotel Collection",
          "By Invitation Only",
          "Luxury Hotel Collection",
          "Expedia+ Silver Status",
          "Expedia+ Gold Status",
          "$100 American Airlines Discount",
          "Disney Parks Perks and Savings",
          "Ritz-Carlton Gold Elite Status",
          "Ritz-Carlton Club Level Upgrade",
          "Annual Travel Credit",
          "IHG Platinum Elite Status",
          "QuickBooks Connect",
          "ReceiptMatch",
          "Employee Spending Limits",
          "FX International Payments",
          "No Pre-Set Spending Limit",
          "Purchase Financing",
          "Amex Open Savings",
          "Amazon Special Financing",
          "$100 Ritz-Carlton Hotel Credit",
          "British Airways Companion Ticket",
          "Mercedes-Benz Gift Certificates",
          "Mercedes-Benz Excess Mileage Waiver",
          "JetBlue Annual Statement Credit",
          "20% Discount on Delta Flights for Delta Private Jet Members",
          "Expense Report Features",
          "Business Cell Phone Protection",
          "Free Shipping on most Target.com orders",
          "30 Extra Days for Returns",
          "Free clothing altertaions",
          "Personal shopping",
          "Shopmyway Savings",
          "Online Subscription Credit",
          "Uber Exclusive Access",
          "Airline Benefits",
          "Hotel Benefits",
          "Other Travel Benefits",
          "Emergency Assistance",
          "Experiences",
          "Shopping Benefits",
          "Cardholder Benefits",
          "Enhanced Security",
          "Business Benefits",
          "Other Benefits",
          "In-Flight Discounts",
          "Fee Coverage",
          "Flight Credits & Discounts",
          "Hotel Membership Status",
          "Hotel Credit & Free Stays",
          "Travel Credit",
          "Travel Experiences Programs",
          "Car Rental Membership Status",
          "Extra Gas Rewards",
          "Shopping Protection",
          "Shopping Discounts",
          "Free Shipping",
          "The Boingo American Express Preferred Plan",
          "AirSpace Lounge",
          "Uber Monthly Credit",
          "Ride Share Benefits",
          "Delta Sky Club",
          "Admirals Club Membership",
          "Priority Pass Select Membership (Prestige)",
          "Priority Pass Select Membership (Standard Plus)",
          "Daily Breakfast",
          "Early Check-in & Late Check-out",
          "Room Upgrades",
          "Complementary WiFi",
          "Amex Hotel Collection Credit",
          "Temporary Account Numbers",
          "One-Time 50% Discount on Companion Ticket",
          "Airline Travel Credit",
          "United Club Membership",
          "Chip Technology",
          "Earn More Miles for Sharing Travel Stories",
          "Mastercard World Elite Concierge and Luxury Travel Benefits",
          "20% Savings on Delta In-Flight Purchases",
          "25% Savings on United In-Flight Food and Drink Purchases",
          "$100 Hilton Properties Credit",
          "$250 Hilton Resort Credit",
          "Hilton Honors Diamond Membership",
          "Free Birthday Gift",
          "2x Points During Your Birthday Month",
          "Car Rental VIP Perks",
          "Free shipping with the purchase of a bra",
          "Monthly Dining Credit",
          "Amazon Prime Student"
        ]
      },
      "CardPurpose": {
        "type": "string",
        "description": "Purposes or categories related to a credit card",
        "enum": [
          "balance_transfer",
          "cash_back",
          "earning_rewards",
          "improve_credit",
          "low_interest",
          "new_to_credit",
          "student",
          "travel_incentives"
        ]
      },
      "CardType": {
        "type": "string",
        "enum": [
          "visa",
          "mastercard",
          "american_express",
          "discover"
        ]
      },
      "CarrierDecisionType": {
        "type": "string",
        "description": "Carrier decision speed",
        "enum": [
          "instant",
          "non_instant"
        ]
      },
      "CitizenshipStatus": {
        "type": "string",
        "description": "Citizenship status",
        "enum": [
          "citizen",
          "permanent_resident",
          "other"
        ]
      },
      "CompoundingMethod": {
        "type": "string",
        "enum": [
          "annually",
          "continuous",
          "daily",
          "monthly",
          "quarterly",
          "semiAnnually",
          "simple",
          "weekly"
        ]
      },
      "CreditCardOffer": {
        "type": "object",
        "description": "An offer for a credit card",
        "required": [
          "details"
        ],
        "properties": {
          "details": {
            "$ref": "#/components/schemas/CreditCardOfferDetails"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Offer"
          }
        ]
      },
      "CreditCardOfferDetails": {
        "type": "object",
        "required": [
          "cardImageUrl",
          "cardType",
          "preQualified",
          "preApproved",
          "preSelected"
        ],
        "properties": {
          "cardName": {
            "type": "string",
            "description": "Display name of the card"
          },
          "cardImageUrl": {
            "type": "string",
            "format": "url",
            "description": "URL of the card image"
          },
          "cardPurposes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardPurpose"
            }
          },
          "ratesUrl": {
            "type": "string",
            "format": "url",
            "description": "External link to card rates, terms, and conditions"
          },
          "maxPurchaseApr": {
            "type": "number",
            "format": "double",
            "description": "Maximum purchase APR in percentage"
          },
          "minPurchaseApr": {
            "type": "number",
            "format": "double",
            "description": "Minimum purchase APR in percentage"
          },
          "purchaseAprText": {
            "type": "string",
            "description": "Description of the purchase APR"
          },
          "purchaseAprDisclaimer": {
            "type": "string",
            "description": "Disclaimer for the purchase APR"
          },
          "maxPurchaseIntroApr": {
            "type": "number",
            "format": "double",
            "description": "Maximum introductory purchase APR in percentage"
          },
          "minPurchaseIntroApr": {
            "type": "number",
            "format": "double",
            "description": "Minimum introductory purchase APR in percentage"
          },
          "purchaseIntroAprTerm": {
            "type": "integer",
            "format": "int32",
            "description": "Introductory purchase APR term length"
          },
          "purchaseIntroAprTermUnit": {
            "$ref": "#/components/schemas/TermUnit"
          },
          "purchaseIntroAprText": {
            "type": "string",
            "description": "Description of the introductory purchase APR"
          },
          "regularIntroAprCombinedText": {
            "type": "string",
            "description": "Description of introductory and regular APR combined"
          },
          "maxCashAdvanceApr": {
            "type": "number",
            "format": "double",
            "description": "Maximum cash advance APR in percentage"
          },
          "minCashAdvanceApr": {
            "type": "number",
            "format": "double",
            "description": "Minimum cash advance APR in percentage"
          },
          "cashAdvanceAprText": {
            "type": "string",
            "description": "Description of the cash advance APR"
          },
          "maxCashAdvanceIntroApr": {
            "type": "number",
            "format": "double",
            "description": "Maximum introductory cash advance APR in percentage"
          },
          "minCashAdvanceIntroApr": {
            "type": "number",
            "format": "double",
            "description": "Minimum introductory cash advance APR in percentage"
          },
          "cashAdvanceIntroAprTerm": {
            "type": "integer",
            "format": "int32",
            "description": "Introductory cash advance APR term length"
          },
          "cashAdvanceIntroAprTermUnit": {
            "$ref": "#/components/schemas/TermUnit"
          },
          "cashAdvanceIntroAprText": {
            "type": "string",
            "description": "Description of the introductory cash advance APR"
          },
          "maxBalanceTransferApr": {
            "type": "number",
            "format": "double",
            "description": "Maximum balance transfer APR in percentage"
          },
          "minBalanceTransferApr": {
            "type": "number",
            "format": "double",
            "description": "Minimum balance transfer APR in percentage"
          },
          "balanceTransferAprText": {
            "type": "string",
            "description": "Description of the balance transfer APR"
          },
          "maxBalanceTransferIntroApr": {
            "type": "number",
            "format": "double",
            "description": "Maximum introductory balance transfer APR in percentage"
          },
          "minBalanceTransferIntroApr": {
            "type": "number",
            "format": "double",
            "description": "Minimum introductory balance transfer APR in percentage"
          },
          "balanceTransferIntroAprTerm": {
            "type": "integer",
            "format": "int32",
            "description": "Introductory balance transfer APR term length"
          },
          "balanceTransferIntroAprTermUnit": {
            "$ref": "#/components/schemas/TermUnit"
          },
          "balanceTransferIntroAprText": {
            "type": "string",
            "description": "Description of the introductory balance transfer APR"
          },
          "balanceTransferFee": {
            "type": "number",
            "format": "double",
            "description": "Balance transfer fee as a percentage"
          },
          "balanceTransferFeeDisclaimer": {
            "type": "string",
            "description": "Disclaimer related to the balance transfer fee"
          },
          "maxAnnualFee": {
            "type": "number",
            "format": "double",
            "description": "Maximum annual fee in dollars"
          },
          "minAnnualFee": {
            "type": "number",
            "format": "double",
            "description": "Minimum annual fee in dollars"
          },
          "annualFeeDisclaimer": {
            "type": "string",
            "description": "Disclaimer for the annual fee"
          },
          "annualFeeText": {
            "type": "string",
            "description": "Description for the annual fee"
          },
          "annualIntroFee": {
            "type": "number",
            "format": "double",
            "description": "Introductory annual fee in dollars"
          },
          "annualIntroFeeTerm": {
            "type": "integer",
            "format": "int32",
            "description": "Number of years the introductory annual fee is in effect"
          },
          "introOfferAmount": {
            "type": "number",
            "format": "double",
            "description": "Amount of the introductory offer"
          },
          "introOfferText": {
            "type": "string",
            "description": "Description of the introductory offer"
          },
          "introOfferDisclaimer": {
            "type": "string",
            "description": "Disclaimer for the introductory offer"
          },
          "introOfferType": {
            "$ref": "#/components/schemas/IntroOfferType"
          },
          "introOfferTitle": {
            "type": "string",
            "description": "Title for the introductory offer"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of card features which must be prominently displayed with the offer"
          },
          "additionalDetails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of card features which must be displayed with the offer"
          },
          "previewDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreviewDetail"
            },
            "description": "Shorter list of descriptions and disclaimers suitable for display in a preview context"
          },
          "cardType": {
            "$ref": "#/components/schemas/CardType"
          },
          "minimumCreditLine": {
            "type": "number",
            "format": "double",
            "description": "Minimum credit line in dollars"
          },
          "minimumPenaltyApr": {
            "type": "number",
            "format": "double",
            "description": "Minimum penalty APR in percentage"
          },
          "maximumPenaltyApr": {
            "type": "number",
            "format": "double",
            "description": "Maximum penalty APR in percentage"
          },
          "aprType": {
            "$ref": "#/components/schemas/AprType"
          },
          "cashAdvanceFee": {
            "type": "number",
            "format": "double",
            "description": "Cash advance fee in dollars"
          },
          "lateFee": {
            "type": "number",
            "format": "double",
            "description": "Late fee in dollars"
          },
          "foreignExchangeFee": {
            "type": "number",
            "format": "double",
            "description": "Foreign exchange fee in dollars"
          },
          "accountOpeningFee": {
            "type": "number",
            "format": "double",
            "description": "Account opening fee in dollars"
          },
          "returnPaymentFee": {
            "type": "number",
            "format": "double",
            "description": "Return payment fee in dollars"
          },
          "monthlyServiceFee": {
            "type": "number",
            "format": "double",
            "description": "Monthly service fee in dollars"
          },
          "recommendedCreditRatings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProvidedCreditRating"
            }
          },
          "recommendedCreditRatingsDisclaimer": {
            "type": "string",
            "description": "Disclaimer about the recommended credit rating"
          },
          "recommendedCreditRatingsText": {
            "type": "string",
            "description": "Description about the recommended credit rating"
          },
          "preQualified": {
            "type": "boolean"
          },
          "preApproved": {
            "type": "boolean"
          },
          "preSelected": {
            "type": "boolean",
            "description": "Indicates that Engine by MoneyLion has determined that the user has an increased likelihood of being approved for this card."
          },
          "foreignTransactionFee": {
            "type": "number",
            "format": "double",
            "description": "Percentage represented in decimal format added to all foreign transactions"
          },
          "earningProgram": {
            "type": "object",
            "description": "Credit card earning program details (arbitrary JSON object)"
          },
          "cardBenefits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardBenefit"
            }
          },
          "rewardsDescription": {
            "type": "string",
            "description": "Description of rewards associated with the card"
          },
          "rewardsDisclaimer": {
            "type": "string",
            "description": "Disclaimer for rewards"
          },
          "rewardsTitle": {
            "type": "string",
            "description": "Title for rewards"
          },
          "minDepositAmount": {
            "type": "number",
            "format": "double",
            "description": "Minimum deposit required in dollars"
          },
          "minDepositDisclaimer": {
            "type": "string",
            "description": "Disclaimer about the minimum deposit"
          },
          "isITA": {
            "type": "boolean",
            "description": "Indicates if the card is an Invitation to Apply (ITA) offer"
          },
          "badges": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "LeadClientTagsJson": {
        "type": "object",
        "description": "Arbitrary key-values mappings to associate with a `Lead`. This field can be use to attach `subid`s to a `Lead`",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxProperties": 1,
        "minProperties": 1,
        "example": {
          "subid": [
            "123"
          ]
        }
      },
      "ConversionEventData": {
        "type": "object",
        "title": "conversion",
        "properties": {
          "payoutInCents": {
            "type": "integer",
            "format": "int32",
            "description": "The number of cents paid out for the conversion event.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the converted offer.\n"
          }
        }
      },
      "EducationLevel": {
        "type": "string",
        "enum": [
          "high_school",
          "associate",
          "bachelors",
          "masters",
          "doctorate",
          "other_grad_degree",
          "certificate",
          "did_not_graduate",
          "still_enrolled",
          "other"
        ]
      },
      "EmploymentPayFrequency": {
        "type": "string",
        "enum": [
          "weekly",
          "biweekly",
          "twice_monthly",
          "monthly"
        ]
      },
      "EmploymentStatus": {
        "type": "string",
        "enum": [
          "employed",
          "employed_full_time",
          "employed_part_time",
          "military",
          "not_employed",
          "self_employed",
          "retired",
          "other"
        ]
      },
      "EventData": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ApiApprovedEventData"
          },
          {
            "$ref": "#/components/schemas/ApiRejectedEventData"
          },
          {
            "$ref": "#/components/schemas/AppliedEventData"
          },
          {
            "$ref": "#/components/schemas/ApprovedEventData"
          },
          {
            "$ref": "#/components/schemas/ConversionEventData"
          },
          {
            "$ref": "#/components/schemas/FundedEventData"
          },
          {
            "$ref": "#/components/schemas/ListedEventData"
          },
          {
            "$ref": "#/components/schemas/OfferClickedEventData"
          },
          {
            "$ref": "#/components/schemas/OpenedEventData"
          }
        ]
      },
      "EventType": {
        "type": "string",
        "enum": [
          "leadCreated",
          "appSubmitted",
          "apiApproved",
          "apiRejected",
          "offerClicked",
          "affiliateOfferClicked",
          "lenderQualifiedLead",
          "applied",
          "approved",
          "listed",
          "opened",
          "funded",
          "conversion",
          "firstPayment",
          "isContacted",
          "salesQualified",
          "firstContact",
          "rateLocked"
        ]
      },
      "FeaturedFinancialInstitution": {
        "type": "object",
        "required": [
          "uuid",
          "name",
          "logoUrl"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "description": "A unique identifier for the financial institution.\n"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "The name of the financial institution. This value is subject to\nchange, so `financialInstitutionUuid` should be used for grouping.\n"
          },
          "logoUrl": {
            "type": "string",
            "format": "url",
            "readOnly": true,
            "description": "The URL of an image logo for the associated financial institution.\n"
          }
        }
      },
      "FederalInsuranceType": {
        "type": "string",
        "enum": [
          "fdic",
          "ncua"
        ]
      },
      "FinancialInstitutionLoanReport": {
        "type": "object",
        "required": [
          "uuid",
          "name",
          "probabilities"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier for the financial institution."
          },
          "name": {
            "type": "string",
            "description": "The name of the financial institution."
          },
          "logoUrl": {
            "type": "string",
            "description": "A URL of a logo for the financial institution."
          },
          "probabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoanProbability"
            },
            "description": "The approval probabilities for the financial intitution."
          }
        }
      },
      "FundedEventData": {
        "type": "object",
        "title": "funded",
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int32",
            "description": "The dollar amount of the offer that was funded.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the funded offer.\n"
          }
        }
      },
      "IdType": {
        "type": "string",
        "enum": [
          "driver_license",
          "state_id",
          "passport"
        ]
      },
      "IncentiveDetails": {
        "type": "object",
        "required": [
          "amount",
          "unit",
          "display",
          "type"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "unit": {
            "$ref": "#/components/schemas/IncentiveUnit"
          },
          "display": {
            "type": "string",
            "maxLength": 20
          },
          "type": {
            "$ref": "#/components/schemas/IncentiveType"
          }
        }
      },
      "IncentiveType": {
        "type": "string",
        "description": "Unit of measure for incentives.\n",
        "enum": [
          "cash_back",
          "other"
        ]
      },
      "IncentiveUnit": {
        "type": "string",
        "description": "Unit of measure for incentives.\n",
        "enum": [
          "usd",
          "other"
        ]
      },
      "GraduateDegreeType": {
        "type": "string",
        "enum": [
          "doctor_of_medicine",
          "doctor_of_osteopathic_medicine",
          "doctor_of_optometry",
          "doctor_of_dental_medicine",
          "dentariae_medicinae_doctoris",
          "doctor_of_dental_surgery",
          "doctor_of_veterinary_medicine",
          "doctor_of_pharmacy",
          "veterinariae_medicinae_doctoris",
          "master_of_arts",
          "master_of_science",
          "master_of_research",
          "master_of_research_project",
          "master_of_studies",
          "master_of_business_administration",
          "master_of_library_science",
          "master_of_public_administration",
          "master_of_public_health",
          "master_of_laws",
          "master_of_arts_liberal_studies",
          "master_of_fine_arts",
          "master_of_music",
          "master_of_education",
          "master_of_engineering",
          "master_of_architecture",
          "juris_doctor",
          "other"
        ]
      },
      "Gender": {
        "type": "string",
        "enum": [
          "male",
          "female"
        ]
      },
      "IntroOfferType": {
        "type": "string",
        "enum": [
          "miles",
          "points",
          "statement_credit"
        ]
      },
      "Lead": {
        "type": "object",
        "required": [
          "leadProviderName",
          "uuid",
          "companyUUID",
          "isTest",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "leadProviderName": {
            "type": "string",
            "description": "Name of company which provided the lead"
          },
          "personalInformation": {
            "$ref": "#/components/schemas/LeadPersonalInformation"
          },
          "personalReferenceInformation": {
            "$ref": "#/components/schemas/LeadPersonalReferenceInformationJson"
          },
          "loanInformation": {
            "$ref": "#/components/schemas/LeadLoanInformationJson"
          },
          "mortgageInformation": {
            "$ref": "#/components/schemas/LeadMortgageInformationJson"
          },
          "creditCardInformation": {
            "$ref": "#/components/schemas/LeadCreditCardInformationJson"
          },
          "savingsInformation": {
            "$ref": "#/components/schemas/LeadSavingsInformationJson"
          },
          "creditInformation": {
            "$ref": "#/components/schemas/LeadCreditInformationJson"
          },
          "financialInformation": {
            "$ref": "#/components/schemas/LeadFinancialInformation"
          },
          "employmentInformation": {
            "$ref": "#/components/schemas/LeadEmploymentInformationJson"
          },
          "legalInformation": {
            "$ref": "#/components/schemas/LeadLegalInformationJson"
          },
          "educationInformation": {
            "$ref": "#/components/schemas/LeadEducationInformationJson"
          },
          "coApplicantInformation": {
            "$ref": "#/components/schemas/LeadCoApplicantInformationJson"
          },
          "healthInformation": {
            "$ref": "#/components/schemas/LeadHealthInformationJson"
          },
          "identificationInformation": {
            "$ref": "#/components/schemas/LeadIdentificationInformationJson"
          },
          "autoInsuranceInformation": {
            "$ref": "#/components/schemas/LeadAutoInsuranceInformationJson"
          },
          "refinanceLoans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadRefinanceLoanInformationJson"
            }
          },
          "clientTags": {
            "$ref": "#/components/schemas/LeadClientTagsJson"
          },
          "sessionInformation": {
            "$ref": "#/components/schemas/LeadSessionInformationJson"
          },
          "leadActions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadAction"
            }
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Primary UUID for a `Lead`"
          },
          "companyUUID": {
            "type": "string",
            "format": "uuid",
            "description": "UUID for a company which created the `Lead`"
          },
          "sessionUuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID used to link leads across verticals, unique per user per supply sub-account"
          },
          "deviceId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the lead's device."
          },
          "referralCompanyUuid": {
            "type": "string",
            "format": "uuid",
            "deprecated": true
          },
          "trackingUuid": {
            "type": "string",
            "format": "uuid"
          },
          "partnerUserId": {
            "type": "string",
            "format": "string",
            "description": "A tracking identifier that references a unique user for an API partner"
          },
          "isTest": {
            "type": "boolean",
            "description": "Whether a `Lead` was created using a test access token"
          },
          "status": {
            "description": "The furthest step of the funnel a `Lead` has reached",
            "allOf": [
              {
                "$ref": "#/components/schemas/LeadActionType"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "LeadAutoInsuranceInformationJson": {
        "type": "object",
        "properties": {
          "numberOfVehicles": {
            "type": "integer",
            "format": "int32"
          },
          "hasAutoInsurance": {
            "type": "boolean"
          },
          "priorCarrierInformation": {
            "type": "object",
            "title": "Prior Carrier Information",
            "properties": {
              "carrierName": {
                "type": "string",
                "description": "Name of the prior insurance carrier"
              },
              "timeInsuredMonths": {
                "type": "integer",
                "format": "int32",
                "description": "Duration in months the lead was insured with the prior carrier"
              }
            }
          },
          "policyEffectiveDate": {
            "type": "string",
            "format": "date"
          },
          "coverageInformation": {
            "type": "object",
            "title": "Coverage Information",
            "properties": {
              "bodilyInjuryAmount": {
                "type": "integer",
                "format": "int32",
                "description": "Bodily injury coverage amount"
              },
              "propertyDamageAmount": {
                "type": "integer",
                "format": "int32",
                "description": "Property damage coverage amount"
              },
              "collisionAmount": {
                "type": "integer",
                "format": "int32",
                "description": "Collision coverage amount"
              }
            }
          },
          "garageInformation": {
            "type": "object",
            "title": "Garage Information",
            "properties": {
              "address1": {
                "type": "string",
                "description": "Street address line 1 of the garage location"
              },
              "address2": {
                "type": "string",
                "description": "Street address line 2 of the garage location (optional)"
              },
              "city": {
                "type": "string",
                "description": "City where the vehicle is garaged"
              },
              "state": {
                "type": "string",
                "description": "State where the vehicle is garaged"
              },
              "zipCode": {
                "type": "string",
                "description": "ZIP code of the garage address"
              }
            }
          },
          "vehiclesInformation": {
            "type": "array",
            "items": {
              "type": "object",
              "title": "Vehicle information",
              "properties": {
                "monthlyPayment": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The lead's monthly auto loan payment"
                },
                "estimatedMileage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The vehicle's estimated number of miles driven"
                },
                "vehicleIdentificationNumber": {
                  "type": "string",
                  "description": "The vehicle identification number (VIN) of the financed vehicle"
                },
                "vehicleUuid": {
                  "type": "string",
                  "format": "uuid",
                  "description": "The UUID representing the unique Year/Make/Model/Trim of the financed vehicle"
                }
              }
            }
          },
          "driversInformation": {
            "type": "array",
            "items": {
              "type": "object",
              "title": "Driver Information",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "primary",
                    "secondary",
                    "unlisted"
                  ]
                },
                "gender": {
                  "$ref": "#/components/schemas/Gender",
                  "description": "Driver's gender"
                },
                "personalInformation": {
                  "$ref": "#/components/schemas/LeadPersonalInformation",
                  "description": "Personal information of the driver"
                }
              }
            }
          }
        }
      },
      "LeadBestTimeToCall": {
        "type": "string",
        "enum": [
          "morning",
          "afternoon",
          "evening",
          "night"
        ]
      },
      "LeadCoApplicantInformationJson": {
        "type": "object",
        "description": "The personal information of a co-applicant that may be considered in the\nunderwriting and approval of a loan.\n",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "annualIncome": {
            "type": "integer",
            "format": "int32"
          },
          "streetAddress1": {
            "type": "string",
            "description": "Street address (primary address line)"
          },
          "streetAddress2": {
            "type": "string",
            "description": "Secondary address line"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/State"
          },
          "zipcode": {
            "type": "string",
            "pattern": "^\\d{5}([-\\s]\\d{4})?$"
          }
        }
      },
      "LeadCreditInformationJson": {
        "type": "object",
        "description": "Credit history information relating to a `Lead`",
        "properties": {
          "providedCreditRating": {
            "$ref": "#/components/schemas/ProvidedCreditRating"
          },
          "providedNumericCreditScore": {
            "type": "integer",
            "format": "int32",
            "description": "FICO credit score provided by a `Lead`"
          }
        }
      },
      "LeadCreditCardInformationJson": {
        "type": "object",
        "properties": {
          "allowAnnualFee": {
            "type": "boolean"
          },
          "cardPurposes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardPurpose"
            },
            "description": "A list of card purposes in which the lead is interested"
          }
        }
      },
      "LeadClientTagsResponse": {
        "type": "object",
        "required": [
          "nextUrl",
          "paginationToken",
          "shouldContinuePolling",
          "data"
        ],
        "properties": {
          "nextUrl": {
            "type": "string",
            "description": "A URL which identifies where the next batch of LeadClientTags can be queried for.\n"
          },
          "paginationToken": {
            "type": "string",
            "description": "An opaque string that identifies the end of the current page of data and is used as a cursor for consecutive requests.\n"
          },
          "shouldContinuePolling": {
            "type": "boolean",
            "description": "If true, data is currently available at `nextUrl`. \n  Calling the `nextUrl` at the current time will return the next batch of data.  \nIf false, calling `nextUrl` at the current time will return an error response from the API.  \n  Data will be made available at a later time (at the next hour mark).\n"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadClientTag"
            },
            "description": "Lead client tag data for the requested time window.\n"
          }
        }
      },
      "LeadClientTag": {
        "type": "object",
        "required": [
          "hash",
          "leadUuid",
          "key",
          "value",
          "createdAt",
          "paginationTimestamp"
        ],
        "properties": {
          "hash": {
            "type": "string",
            "description": "A unique hash for the client tag to assist with deduplication.\n"
          },
          "leadUuid": {
            "type": "string",
            "format": "uuid",
            "description": "The UUID of the lead that this client tag belongs to.\n"
          },
          "key": {
            "type": "string",
            "description": "The key of this client tag.\n"
          },
          "value": {
            "type": "string",
            "description": "The latest value for the client tag key.\n"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The time that this client tag was added to the lead.\n"
          },
          "paginationTimestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Time when event was captured by our system. Used for pagination.\n"
          }
        }
      },
      "LeadCreateData": {
        "type": "object",
        "properties": {
          "productTypes": {
            "type": "array",
            "description": "Product types in which the `Lead` is interested",
            "items": {
              "$ref": "#/components/schemas/ProductType"
            }
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Primary UUID for a `Lead`"
          },
          "sessionUuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID used to link leads across verticals, unique per user per supply sub-account"
          },
          "deviceId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the lead's device."
          },
          "loanInformation": {
            "$ref": "#/components/schemas/LeadLoanInformationJson"
          },
          "personalInformation": {
            "$ref": "#/components/schemas/LeadPersonalInformation"
          },
          "personalReferenceInformation": {
            "$ref": "#/components/schemas/LeadPersonalReferenceInformationJson"
          },
          "mortgageInformation": {
            "$ref": "#/components/schemas/LeadMortgageInformationJson"
          },
          "creditCardInformation": {
            "$ref": "#/components/schemas/LeadCreditCardInformationJson"
          },
          "savingsInformation": {
            "$ref": "#/components/schemas/LeadSavingsInformationJson"
          },
          "creditInformation": {
            "$ref": "#/components/schemas/LeadCreditInformationJson"
          },
          "financialInformation": {
            "$ref": "#/components/schemas/LeadFinancialInformation"
          },
          "employmentInformation": {
            "$ref": "#/components/schemas/LeadEmploymentInformationJson"
          },
          "legalInformation": {
            "$ref": "#/components/schemas/LeadLegalInformationJson"
          },
          "educationInformation": {
            "$ref": "#/components/schemas/LeadEducationInformationJson"
          },
          "coApplicantInformation": {
            "$ref": "#/components/schemas/LeadCoApplicantInformationJson"
          },
          "healthInformation": {
            "$ref": "#/components/schemas/LeadHealthInformationJson"
          },
          "autoInsuranceInformation": {
            "$ref": "#/components/schemas/LeadAutoInsuranceInformationJson"
          },
          "refinanceLoans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadRefinanceLoanInformationJson"
            },
            "description": "One or more loans that the lead wishes to refinance or consolidate"
          },
          "identificationInformation": {
            "$ref": "#/components/schemas/LeadIdentificationInformationJson"
          },
          "clientTags": {
            "$ref": "#/components/schemas/LeadClientTagsJson"
          },
          "sessionInformation": {
            "$ref": "#/components/schemas/LeadSessionInformationJson"
          },
          "formCompleted": {
            "type": "boolean",
            "description": "Whether the `Lead` has completed an application form",
            "deprecated": true
          },
          "referralCompanyUuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of company from which the `Lead` was referred",
            "deprecated": true
          },
          "trackingUuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID for internal Engine by MoneyLion tracking purposes. This field should never be set by 3rd party API consumers",
            "deprecated": true
          },
          "partnerUserId": {
            "type": "string",
            "format": "string",
            "description": "A tracking identifier that references a unique user for an API partner"
          }
        },
        "example": {
          "productTypes": [
            "loan",
            "savings"
          ],
          "personalInformation": {
            "firstName": "John",
            "lastName": "Doe",
            "email": "john@example.com",
            "city": "New York",
            "state": "NY",
            "workPhone": "2125551234",
            "primaryPhone": "2125556789",
            "address1": "45 West 21st Street",
            "address2": "5th Floor",
            "zipcode": "10010",
            "monthsAtAddress": 5,
            "driversLicenseNumber": "111222333",
            "driversLicenseState": "NY",
            "ipAddress": "8.8.8.8",
            "activeMilitary": false,
            "militaryVeteran": true,
            "dateOfBirth": "1993-10-09",
            "ssn": "111-22-3333"
          },
          "loanInformation": {
            "purpose": "debt_consolidation",
            "loanAmount": 10000
          },
          "mortgageInformation": {
            "propertyType": "condo",
            "propertyStatus": "own_with_mortgage",
            "propertyValue": 200000,
            "mortgageBalance": 10000,
            "lenderName": "Bank OF NY",
            "hasFHALoan": true,
            "currentWithLoan": true
          },
          "creditCardInformation": {
            "allowAnnualFee": true,
            "cardPurposes": [
              "travel_incentives"
            ]
          },
          "savingsInformation": {
            "minDepositAmount": 1000
          },
          "creditInformation": {
            "providedCreditRating": "excellent",
            "providedNumericCreditScore": 750
          },
          "financialInformation": {
            "creditCardDebt": 5000,
            "employmentStatus": "employed",
            "employmentPayFrequency": "weekly",
            "annualIncome": 120000,
            "monthlyNetIncome": 10000,
            "bankName": "Santander",
            "bankRoutingNumber": "231372691",
            "bankAccountType": "savings",
            "monthsAtBank": 10,
            "bankAccountNumber": "1234567890"
          },
          "employmentInformation": {
            "employerName": "Engine by MoneyLion",
            "employerAddress": "45 W 21st St",
            "employerCity": "New York",
            "employerState": "NY",
            "employerZip": "10010",
            "jobTitle": "Software Engineer",
            "monthsEmployed": 14,
            "directDeposit": true,
            "payDate1": "2004-10-06",
            "payDate2": "2004-11-06"
          },
          "educationInformation": {
            "educationLevel": "masters",
            "graduateDegreeType": "master_of_science",
            "universityAttended": "Johns Hopkins University"
          },
          "coApplicantInformation": {
            "firstName": "Jane",
            "lastName": "Doe",
            "dateOfBirth": "1984-03-06",
            "annualIncome": 100000,
            "streetAddress1": "45 West 21st Street",
            "streetAddress2": "5th Floor",
            "city": "New York",
            "state": "NY",
            "zipcode": "10010"
          },
          "healthInformation": {
            "gender": "male",
            "heightInInches": 72,
            "weightInPounds": 195,
            "tobaccoSmoker": false
          },
          "autoInsuranceInformation": {
            "numberOfVehicles": 1,
            "hasAutoInsurance": true
          },
          "legalInformation": {
            "consentsToFcra": true,
            "consentsToTcpa": true,
            "fcraLanguage": "By checking this box/clicking 'agree' I hereby consent to the 'E-Sign Agreement', the 'Credit Authorization Agreement', the Terms of Service and Privacy Policy, and I am providing written consent under the Fair Credit Reporting Act (FCRA) for [Engine by MoneyLion and/or Insert Company Name], its partners and financial institutions to obtain consumer report information from my credit profile. I request that my information be provided to their partners, lenders, and financial services partners to provide me with financial recommendations, which may also include debt relief, credit repair, credit monitoring or other related services",
            "tcpaLanguage": "I agree to be contacted by [Engine by MoneyLion and/or Insert Company Name] its partners and their affiliated companies and financial institutions via email, postal mail service and/or at the telephone number(s) I have provided above to explore various financial products and services I inquired about, including contact through automatic dialing systems, artificial or pre-recorded voice messaging, or text message. Consent is not required as a condition to utilize the service, and you may choose to be contacted by an individual customer care representative(s) by calling XXXXX or emailing XXXX"
          },
          "clientTags": {
            "hello": [
              "world",
              "there"
            ],
            "something": [
              "else"
            ]
          }
        }
      },
      "LeadEducationInformationJson": {
        "type": "object",
        "properties": {
          "educationLevel": {
            "$ref": "#/components/schemas/EducationLevel"
          },
          "graduateDegreeType": {
            "$ref": "#/components/schemas/GraduateDegreeType"
          },
          "universityAttended": {
            "type": "string",
            "description": "Name of university where a lead received their undergraduate degree.\nA lookup service for possible universities is available from using the /leads/universities endpoint.\nTo maximize returned offers, this string must match one of the names returned from the lookup.\n",
            "deprecated": true
          },
          "universityOpeId": {
            "type": "string",
            "$ref": "#/components/schemas/OpeId"
          },
          "graduationDate": {
            "type": "string",
            "format": "date",
            "description": "Date the lead graudated from undergrad (YYYY-MM-DD)",
            "deprecated": true
          },
          "graduateGraduationDate": {
            "type": "string",
            "format": "date",
            "description": "Lead's graduate school graduation date (YYYY-MM-DD)"
          },
          "graduateLastAttendedDate": {
            "type": "string",
            "format": "date",
            "description": "Lead's last attended month/year for graduate school (YYYY-MM-DD)"
          },
          "graduateUniversityAttended": {
            "type": "string",
            "description": "Name of university where a lead received their graduate degree.\nA lookup service for possible universities is available from using the /leads/universities endpoint.\nTo maximize returned offers, this string must match one of the names returned from the lookup.\n"
          },
          "graduateUniversityOpeId": {
            "$ref": "#/components/schemas/OpeId"
          },
          "undergraduateGraduationDate": {
            "type": "string",
            "format": "date",
            "description": "Date the lead graduated from undergrad (YYYY-MM-DD)."
          },
          "undergraduateLastAttendedDate": {
            "type": "string",
            "format": "date",
            "description": "Lead's last attended month/year for undergrad (YYYY-MM-DD)"
          },
          "undergraduateUniversityAttended": {
            "type": "string",
            "description": "Name of university where a lead received their undergraduate degree.\nA lookup service for possible universities is available from using the /leads/universities endpoint.\nTo maximize returned offers, this string must match one of the names returned from the lookup.\n"
          },
          "undergraduateUniversityOpeId": {
            "type": "string",
            "$ref": "#/components/schemas/OpeId"
          }
        }
      },
      "LeadEducationLevel": {
        "$ref": "#/components/schemas/EducationLevel"
      },
      "LeadEmploymentInformationJson": {
        "type": "object",
        "properties": {
          "employerName": {
            "type": "string"
          },
          "employerAddress": {
            "type": "string"
          },
          "employerAddress2": {
            "type": "string"
          },
          "employerCity": {
            "type": "string"
          },
          "employerPhone": {
            "type": "string"
          },
          "employerState": {
            "type": "string"
          },
          "employerZip": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "monthsEmployed": {
            "type": "integer",
            "format": "int32"
          },
          "directDeposit": {
            "type": "boolean",
            "description": "Whether a `Lead` uses direct deposit for their salary"
          },
          "payDate1": {
            "type": "string",
            "format": "date"
          },
          "payDate2": {
            "type": "string",
            "format": "date"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "The date the lead started working at their current employer (YYYY-MM-DD)"
          }
        }
      },
      "LeadFinancialInformation": {
        "type": "object",
        "properties": {
          "employmentStatus": {
            "$ref": "#/components/schemas/EmploymentStatus"
          },
          "employmentPayFrequency": {
            "$ref": "#/components/schemas/EmploymentPayFrequency"
          },
          "annualIncome": {
            "type": "integer",
            "format": "int32"
          },
          "monthlyNetIncome": {
            "type": "integer",
            "format": "int32"
          },
          "bankName": {
            "type": "string"
          },
          "bankRoutingNumber": {
            "type": "string"
          },
          "bankAccountType": {
            "$ref": "#/components/schemas/BankAccountType"
          },
          "creditCardDebt": {
            "type": "integer",
            "format": "int32"
          },
          "monthsAtBank": {
            "type": "integer",
            "format": "int32"
          },
          "bankAccountNumber": {
            "type": "string"
          },
          "monthlyDebt": {
            "type": "integer",
            "format": "int32"
          },
          "totalAssets": {
            "type": "integer",
            "format": "int32"
          },
          "monthlyHousingPayment": {
            "type": "integer",
            "format": "int32"
          },
          "availableAssets": {
            "type": "integer",
            "format": "int32"
          },
          "additionalIncome": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of additional income the lead recieves"
          },
          "additionalIncomeFrequency": {
            "$ref": "#/components/schemas/EmploymentPayFrequency",
            "description": "The frequency the lead recieves additional income"
          },
          "hasDirectDeposit": {
            "type": "boolean",
            "description": "Do you have a direct deposit?"
          },
          "totalUnsecuredDebt": {
            "type": "integer",
            "format": "int32",
            "description": "Approximate total unsecured debt in dollars"
          }
        }
      },
      "LeadHealthInformationJson": {
        "type": "object",
        "properties": {
          "gender": {
            "$ref": "#/components/schemas/Gender"
          },
          "heightInInches": {
            "type": "integer",
            "format": "int32"
          },
          "weightInPounds": {
            "type": "integer",
            "format": "int32"
          },
          "tobaccoSmoker": {
            "type": "boolean"
          }
        }
      },
      "LeadIdentificationInformationJson": {
        "type": "object",
        "properties": {
          "idNumber": {
            "type": "string",
            "description": "The ID number supplied by the lead"
          },
          "idState": {
            "type": "string",
            "description": "The state of issue of the supplied ID"
          },
          "idType": {
            "$ref": "#/components/schemas/IdType",
            "description": "The form of the ID number supplied by the lead"
          }
        }
      },
      "LeadLegalInformationJson": {
        "type": "object",
        "description": "Information regarding a `Lead`'s communication consent",
        "properties": {
          "consentsToFcra": {
            "type": "boolean",
            "description": "Whether the lead was shown, and consented to a Fair Credit Reporting Act notice"
          },
          "consentsToSms": {
            "type": "boolean",
            "description": "The lead agrees to recieve SMS text messages from the Financial Institution"
          },
          "consentsToTcpa": {
            "type": "boolean",
            "description": "Whether the lead was shown, and consented to a Telephone Consumer Protection Act notice"
          },
          "batchConsentVersion": {
            "$ref": "#/components/schemas/BatchConsentVersion"
          },
          "fcraLanguage": {
            "type": "string",
            "description": "The exact FCRA language to which the lead consented"
          },
          "tcpaLanguage": {
            "type": "string",
            "description": "The exact TCPA language to which the lead consented"
          },
          "batchConsentLanguage": {
            "type": "string",
            "description": "The exact batch consent language to which the lead consented"
          }
        }
      },
      "LeadLoanInformationJson": {
        "type": "object",
        "properties": {
          "purpose": {
            "$ref": "#/components/schemas/LoanPurpose"
          },
          "loanAmount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "LeadMortgageInformationJson": {
        "type": "object",
        "properties": {
          "propertyType": {
            "$ref": "#/components/schemas/PropertyType"
          },
          "propertyValue": {
            "type": "integer",
            "format": "int32"
          },
          "mortgageBalance": {
            "type": "integer",
            "format": "int32"
          },
          "lenderName": {
            "type": "string"
          },
          "hasFHALoan": {
            "type": "boolean"
          },
          "currentWithLoan": {
            "type": "boolean"
          },
          "propertyStatus": {
            "$ref": "#/components/schemas/PropertyStatus"
          },
          "mortgageType": {
            "$ref": "#/components/schemas/MortgageType"
          },
          "mortgageAmount": {
            "type": "integer",
            "format": "int32",
            "description": "Amount the lead will borrow"
          },
          "downPaymentAmount": {
            "type": "integer",
            "format": "int32"
          },
          "propertyState": {
            "type": "string"
          },
          "propertyCounty": {
            "type": "string"
          },
          "propertyAddress1": {
            "type": "string",
            "description": "Street address (primary address line)"
          },
          "propertyAddress2": {
            "type": "string",
            "description": "Secondary address line"
          },
          "propertyZipcode": {
            "type": "string"
          },
          "propertyCity": {
            "type": "string"
          },
          "refinanceAmount": {
            "type": "integer",
            "format": "int32",
            "description": "Amount the lead will borrow for refinancing an existing mortgage"
          },
          "cashOutAmount": {
            "type": "integer",
            "format": "int32",
            "description": "Additional amount the lead will borrow against existing home equity in the case of refinance"
          },
          "occupancyType": {
            "$ref": "#/components/schemas/OccupancyType"
          },
          "refinanceType": {
            "$ref": "#/components/schemas/RefinanceType"
          },
          "propertySearchStatus": {
            "$ref": "#/components/schemas/PropertySearchStatus"
          },
          "numUnits": {
            "type": "integer",
            "format": "int32",
            "description": "The number of legal units on the property"
          },
          "closingDate": {
            "type": "string",
            "format": "date"
          },
          "purchaseStatus": {
            "$ref": "#/components/schemas/PurchaseStatus"
          },
          "purchaseDate": {
            "type": "string",
            "format": "date"
          },
          "monthlyHoaFee": {
            "type": "number",
            "description": "The amount of the HOA fee for the lead"
          },
          "mortgageCompany": {
            "type": "string",
            "description": "The name of the company holding the lead's mortgage"
          },
          "mortgageEscrowAmount": {
            "type": "number",
            "description": "The amount of escrow the lead pays"
          },
          "includeFhaLoans": {
            "type": "boolean",
            "description": "If true, the lead will receive FHA loan offers; if false, they will not.\n"
          },
          "includeVaLoans": {
            "type": "boolean",
            "description": "If true, the lead will receive VA loan offers; if false, they will not.\n"
          },
          "requestedLoanTerms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MortgageLoanType"
            }
          },
          "mortechCreditRating": {
            "$ref": "#/components/schemas/MortechCreditRating"
          }
        }
      },
      "LeadPersonalInformation": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "aliasFirstName": {
            "type": "string",
[...]
